<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <form action="/addproducts" methods="POST">

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">name</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="name">
        </div>


        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">buying_price</label>
            <input type="number" class="form-control" id="exampleInputPassword1" name="buying_price">
        </div>


        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">selling_price</label>
            <input type="number" class="form-control" id="exampleInputPassword1" name="selling_price">
        </div>


        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">stock_quantity</label>
            <input type="number" class="form-control" id="exampleInputPassword1" name="stock_quantity">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>