<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    {% extends "layout.html" %}

    {% block content %}
    <p><h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est culpa a blanditiis possimus reprehenderit enim
        tenetur omnis illum sapiente dolorem voluptas illo, nisi labore cumque laboriosam debitis libero odio iure.</h1></p>
        {% endblock %}
</body>
</html>