<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>products datatable.net</title>
    

</head>


<body>

    {% extends "layout.html" %}
   

{% block content %}
    <div class="container">
        <div class="container text-center">
            <div class="row">
                <div class="col-3">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Nav Menu
                        </button>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" type="button">Dashboard</button></li>
                            <li><button class="dropdown-item" type="button">Inventories</button></li>
                            <li><button class="dropdown-item" type="button">Sales</button></li>
                            <li><button class="dropdown-item" type="button">Stock</button></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4"></div>
                    <!-- Button trigger modal -->
                    <div class="col-4">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            + ADD NEW ITEM
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">ADD</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/addproducts" method="POST">

                                            <div class="mb-3">
                                                <label for="exampleInputPassword1" class="form-label">name</label>
                                                <input type="text" class="form-control" id="exampleInputPassword1"
                                                    name="name">
                                            </div>


                                            <div class="mb-3">
                                                <label for="exampleInputPassword1"
                                                    class="form-label">buying_price</label>
                                                <input type="number" class="form-control" id="exampleInputPassword1"
                                                    name="buying_price">
                                            </div>


                                            <div class="mb-3">
                                                <label for="exampleInputPassword1"
                                                    class="form-label">selling_price</label>
                                                <input type="number" class="form-control" id="exampleInputPassword1"
                                                    name="selling_price">
                                            </div>


                                            <div class="mb-3">
                                                <label for="exampleInputPassword1"
                                                    class="form-label">stock_quantity</label>
                                                <input type="number" class="form-control" id="exampleInputPassword1"
                                                    name="stock_quantity">
                                            </div>

                                            <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4"></div>
                </div>


                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">NAME</th>
                            <th scope="col">Buying_price</th>
                            <th scope="col">Selling_price</th>
                            <th scope="col">Stock_quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in prods %}
                        <tr>
                            <th scope="row">{{ p[0] }}</th>
                            <td>{{ p[1] }}</td>
                            <td>{{ p[2] }}</td>
                            <td>{{ p[3] }}</td>
                            <td>{{ p[4] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

    

</body>

</html>