{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="container text-center">
        <div class="row">
            <div class="row">
                <div class="col-4"></div>
                <!-- Button trigger modal -->
                <div class="col-4">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        + ADD NEW ITEM
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">ADD</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/addproducts" method="POST">
                                        <div class="mb-3">
                                            <label for="exampleInputPassword1" class="form-label">name</label>
                                            <input type="text" class="form-control" id="exampleInputPassword1"
                                                name="name">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputPassword1" class="form-label">buying_price</label>
                                            <input type="number" class="form-control" id="exampleInputPassword1"
                                                name="buying_price">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputPassword1" class="form-label">selling_price</label>
                                            <input type="number" class="form-control" id="exampleInputPassword1"
                                                name="selling_price">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4"></div>
            </div>
            <table class="table" id="myTable">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col" style="padding-left: 7%;">NAME</th>
                        <th scope="col">Buying_price</th>
                        <th scope="col">Selling_price</th>
                        <th scope="col">BarCode</th>
                        <th scope="col">Remaining_stock</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in prods %}
                    <th scope="row">{{ p[0] }}</th>
                    <td>{{ p[1] }}</td>
                    <td>{{ p[2] }}</td>
                    <td>{{ p[3] }}</td>
                    <td>
                        <img src="{{ url_for('static', filename='barcodes/' + p[0]|string + '.png.png') }}" alt="Barcode" width="100" height="100">
                </td>
                    {% if remain_stock(p[0]) | int < 20 %} <td style="background-color: pink;">{{
                        remain_stock(p[0])
                        }}</td>
                        {% elif remain_stock(p[0]) | int < 70 %} <td style="background-color: yellow;">{{
                            remain_stock(p[0]) }}</td>
                            {% else %}
                            <td style="background-color: green;">{{ remain_stock(p[0]) }}</td>
                            {% endif %}
                            <td>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#editModal{{ p[0] }}">
                                    Edit product
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="editModal{{ p[0] }}" tabindex="-1"
                                    aria-labelledby="editModalLabel{{ p[0] }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="editModalLabel{{ p[0] }}">Edit
                                                    product {{ p[1] }}</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/editproduct" method="POST">
                                                    <div class="mb-3">
                                                        <label for="name" class="form-label"></label>
                                                        <input type="hidden" class="form-control" id="id" name="id"
                                                            value="{{ p[0] }}">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="name" class="form-label">Name</label>
                                                        <input type="text" class="form-control" id="name" name="name"
                                                            value="{{ p[1] }}">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="buying_price" class="form-label">Buying
                                                            Price</label>
                                                        <input type="number" class="form-control" id="buying_price"
                                                            name="buying_price" value="{{ p[2] }}">
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="selling_price" class="form-label">Selling
                                                            Price</label>
                                                        <input type="number" class="form-control" id="selling_price"
                                                            name="selling_price" value="{{ p[3] }}">
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Update</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            </tr>
                            {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}