<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sales table</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
{% extends 'admin.html' %}

<body>
    {% block content %}


    <div class="row">
        <div class="col-6">
            <ul>
            </ul>
        </div>


        <div class="col-6">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                + Add Sale
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add a sale</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <form action="/addsales" method="POST">

                                <!-- <label for="fname">product_id:</label><br> -->
                                <select name="pid" id="product" required>
                                    <option value="">Select a product</option>
                                    {% for p in prods %}
                                    <option value="{{ p[0] }}">{{ p[1] }}</option>
                                    {% endfor %}
                                </select><br><br>

                                <label for="lname">Quantity:</label>
                                <input type="number" id="lname" name="quantity" required><br><br>




                                <button type="submit" class="btn btn-primary">Submit</button><br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">


                <table id="myTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Product name</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Created At</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sale in sales %}
                        <tr>
                            <td>{{ sale[0] }}</td>
                            <td name="pid">
                                {% for p in prods %}
                                {% if p[0] == sale[1] %}
                                {{ p[1] }}
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ sale[2] }}</td>
                            <td>
                                {% for p in prods %}
                                    {% if p[0] == sale[1] %}
                                        {{ p[3] * sale[2] }} <!-- Calculate total price by multiplying selling price with quantity -->
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ sale[3] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-2"></div>
        </div>

    </div>


    {% endblock %}

</body>

</html>