<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stock table</title>
</head>
{% extends 'layout.html'  %}
<body>
    {% block content %}
    <div class="row">
        <div class="col-6">
        </div>
        <div class="col-6">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                + Add Stock
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add a stock</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <form action="/addstock" method="POST">

                                <select name="pid" id="product" required>
                                    <option value="" contenteditable="true">Select a product</option>
                                    {% for p in prods %}
                                      <option value="{{ p[0] }}">{{ p[1] }}</option>
                                    {% endfor %}
                                  </select><br><br>
                                <label for="lname">quantity:</label>
                                <input type="text" id="lname" name="quantity" required><br><br>

                                <button type="submit" class="btn btn-primary">Submit</button><br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">


                <table id="myTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Product name</th>
                            <th>Quantity</th>
                            <th>Created At</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for st in stockk %}
                        <tr>
                            <td>{{ st[0] }}</td>
                            <td name="pid" id="product">
                                {% for p in prods %}
                                    {% if p[0] == st[1] %}
                                        {{ p[1] }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ st[2] }}</td>
                            <td>
                                {% if loop.index == 1 %}
                                    {{ current_date }}
                                {% else %}
                                    {{ st[3].strftime('%d-%m-%Y %H:%M') }}
                                {% endif %}
                            </td>
                            
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-2"></div>
        </div>

    </div>

    

{% endblock %}


</body>

</html>