<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>my_personal_data_2020</h1>
    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>age</th>
                <th>weight</th>
                <th>gender</th>
                <th>language</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>sandaiya</td>
                <td>23</td>
                <td>63</td>
                <td>male</td>
                <td>language</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>letina</td>
                <td>21</td>
                <td>60</td>
                <td>female</td>
                <td>swahili</td>
            </tr>
        </tbody>

        <tbody>
            <tr>
                <td>letina</td>
                <td>21</td>
                <td>60</td>
                <td>female</td>
                <td>swahili</td>
            </tr>
        </tbody>

        <tbody>
            <tr>
                <td>letina</td>
                <td>21</td>
                <td>60</td>
                <td>female</td>
                <td>swahili</td>
            </tr>
        </tbody>

        <tbody>
            <tr>
                <td>letina</td>
                <td>21</td>
                <td>60</td>
                <td>female</td>
                <td>swahili</td>
            </tr>
        </tbody>
    </table>
</body>
</html>